* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightblue;
    padding:15px 0;
}

footer {
    background-color: darkslategrey;
}
/*layout*/ 
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 900px;
    margin:0 auto;
}
.row {
    display: flex;  

    gap: 300 px;
}

.col-15 {
    width:15%;
    background-color: rgb(243, 148, 6);
    border:1px solid black;
}

.col-16 {
    width: calc(100%/6);
    border: 1px solid white;
    background-color: aquamarine;
    height: 500px;
}

.col-33 {
    width: calc(100%/6*2);
    border: 1px solid black;
    background-color: salmon;
    height: 500px;
}
.col-40 {
    width:40%;
    background-color: pink;
    border: 1px solid black;
    height: 300px;
}
.col-60 {
    width:60%;
    background-color: rgb(6, 113, 243) ;
    border: 1px solid black;
}       
.col-70 {
    width:70%;
    background-color:rgb(242, 148, 6); 
    border:1px solid rgb(0, 0, 0);
}


.col-100 {
    width: 100%;
    border: 1px solid black;
    background-color: rgb(146, 48, 115);
    height: 300px;
}
/*utility*/
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.py-10 {
    padding: 10px 0;
}

.py-50 {
    padding: 50px 0;
}
.justify-between {
    justify-content: space-between;
}
/*specifics styling selections and classes*/
ul.text-center {
    list-style-type: none;
}

ul.text-center li {
    display: inline-block;
}

.bg-darkblue {
    background-color: darkblue;
    padding: 50px 0;
}

.bg-grey {
    padding: 50px 0;
    background-color: grey ;
}

.bg-darkgreen {
    background-color: darkgreen;
}

.bg-lightaqua {
    background-color: aquamarine;
    padding: 20px 0;
}
.h-700 {
    height:700px;
}

.top-footer {
    border-bottom: 1px solid grey;
    padding: 15px 0 40 px 0;
}

.bottom-footer {
    padding-top: 25px;
}

.box-bottom-footer {
    background-color: pink;
    border: 1px dashed black;
    padding: 10px;

}
